In [1]:
a=10
print(a)

10

In [ ]:
a = 13
print(a)

In [5]:
a = 10
b="Hello World"
c=True 
print(c)
print(a,b,c)
print(a,type(b))
print(type(c))

True
10 Hello World True
10 <class 'str'>
<class 'bool'>

In [ ]:
a = 11
b = 10.5
c = "Hello World"
d = True
print(a,b,c,d)
print(type(a))
print(type(d))
type(b)

In [ ]:
a1="true"
print(a1
    )

In [ ]:
# a=10
# b="Hi"
# c='hahi'
# d='''hiii'''

In [ ]:
# + - * / % ** //

In [ ]:
a=10
b=3
c = a/b
print(c
    )

In [ ]:
r=10
area=3.14*r**2
print(area)

In [ ]:
a = 10
b = float(a)
print(type(a))
b

In [ ]:
a = "gg"
b = int(a)
b

In [ ]:
10+20

In [ ]:
a = 10
b = str(a)
b

# type casting / data type conversion

In [ ]:
a = 10
b = complex(a)
print(b)

#

In [ ]:
a = "10"
b = "20"
c = int(a)+int(b)
c

In [ ]:
a = "20"
b=int(a)
print(b)

#

In [ ]:
a = 10 + 2j
b=int(a)
print(b)

In [ ]:
a = 10.5
b=int(a)
print(b)

In [ ]:
a = 20
b = float(a)
print(b)

In [ ]:
a = "Ram said \"he is a doctor"

In [ ]:
a = "19"
b = int(a)
b

In [ ]:
"10"+10

In [ ]:
a = 10.5
b = str(a)
b

In [ ]:
a="100.5"
b = float(a)
b

In [ ]:
a = 1.5
b = int(a)
b

In [ ]:
a = 1.4
b = int(a)
b

In [ ]:
a = 1.7
b = int(a)
b

In [ ]:
a = 1.9999
b = int(a)
b

In [ ]:
a = 10.5
b = str(a)
print(b)
type(b)

In [ ]:
a = 10
b = 20
print(a+b)

In [ ]:
a = input()
print(a)

In [6]:
a = input("enter a=")
b = input("enter b=")
c = a+b
print(c)

enter a=10
enter b=20
1020

In [7]:
a = int(input("enter a number="))
b = int(input("enter another number="))
c = a+b
print(c)

enter a number=10
enter another number=20
30

In [ ]:
a = int(input("enter a number="))
b = int(input("enter another number="))
c = a+b
print(c)

In [8]:
p = float(input("enter principle="))
t = float(input("enter time="))
r = float(input("enter rate="))

i=p*t*r/100
print("the interest is=",i)

enter principle=1000
enter time=5
enter rate=10
the interest is= 500.0

In [ ]:
# Operator: + - * / % // **

In [ ]:
a = 10
b = 11
c = a+b
print(c)

In [ ]:
a = "10"
b = "11"
c = a+b
print(c)

In [ ]:
a = 10
b = 11
c = a-b
print(c)

In [ ]:
a= 10
print(a**3)

In [ ]:
# ** = power, // = no decimal value division , % = remiander

In [1]:
a = 10
b = 12j
c = a+b
print(c)

(10+12j)

In [2]:
type(c)

complex

In [4]:
# String
s = 'Hello World'
s = "Hello World"
s = '''Hello World'''
print(s)
s

Hello World

'Hello World'

In [6]:
a = "Hello"
b = "world"
c = a+" "+b
print(c)

Hello world

In [7]:
a = "Hello"
b = "world"
c = a*b
print(c)

TypeError: can't multiply sequence by non-int of type 'str'

a = "hello world"
print(a*2)

In [9]:
a = "Hello world\n"
print(a*2)

Hello world
Hello world

In [15]:
a = True
b = False
c = a+b
print(c)

1

In [16]:
a = True
b = True
c = a*b
print(c)

1

In [ ]:
# True =1 and False = 0

In [17]:
a = "10"
b = int(a)
print(b)

10

In [18]:
a = "10"
b = "20"
c = int(a)+int(b)
print(c)

30

In [20]:
print(float(a))

10.0

In [21]:
a = 10
b = str(a)
print(b)

10

In [22]:
type(b)

str

In [29]:
name = "sabin"
age = 23
add = "Kathmandu"
c = "Hello world i am "+name+","+"I am "+str(age)+","+"I am from "+add
# " " is also a character
print(c)

Hello world i am sabin,I am 23,I am from Kathmandu