In [1]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [2]:
for i in range(1,5):
    print(i)

1
2
3
4

In [3]:
for i in range(1,5,2):
    print(i)

1
3

In [4]:
for i in range(5):
    print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [5]:
for i in range(1,5):
    print(i,"hello world")

1 hello world
2 hello world
3 hello world
4 hello world

In [6]:
n=int(input("enter n="))
for i in range(1,60,n):
    print(i)

enter n=5
1
6
11
16
21
26
31
36
41
46
51
56

In [7]:
n=int(input("enter n="))
for i in range(0,60,n):
    print(i)

enter n=5
0
5
10
15
20
25
30
35
40
45
50
55

In [8]:
n=int(input("enter n="))
for i in range(1,11):
    print(i*n)

enter n=5
5
10
15
20
25
30
35
40
45
50

In [9]:
n=int(input("enter n="))
for i in range(1,11):
    print(n,"*",i,"=",i*n)

enter n=5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [11]:
s = 0
n = int(input("enter n="))
for i in range(n):
    x = int(input("enter x="))
    s=s+x

print(s)

enter n=2
enter x=123
enter x=2
125

In [12]:
s = 0
n = int(input("enter n="))
for i in range(n):
    x = int(input("enter x="))
    s=s+x

    print(s)

enter n=2
enter x=123
123
enter x=233
356

In [14]:
s = ""
n=int(input("enter n="))
for i in range(n):
    x=input("enter x=")
    s=s+x
print("Required String=",s)

enter n=2
enter x=ss
enter x=qq
Required String= ssqq

In [ ]:
s = ""
n=int(input("enter n="))
for i in range(n):
    x=input("enter x=")
    s=s+" "+x
print("Required String=",s)

In [2]:
s = ""
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    phone=input("enter phone=")
    s=s+name+" "+phone+"\n"
    
print(s)

enter n=2
enter name=ash
enter phone=222
enter name=sam
enter phone=345
ash 222
sam 345

In [3]:
s = ""
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    phone=input("enter phone=")
    s=s+name+" "+phone+" "
    
print(s)

enter n=2
enter name=asf
enter phone=123
enter name=win
enter phone=234
asf 123 win 234

In [4]:
# 5! = 1*2*3*4*5

In [2]:
fac=1
n=int(input("enter n="))
for i in range(1,n+1):
    fac=fac*i
    
    print(fac)

enter n=5
1
2
6
24
120

In [ ]:
# WAP to create a billing system
# name
# price
# quantity
# total

# all_total

In [ ]:
# WAP to create a result management system of users
# name
# subject=physics,chem,maths,nepali
# total
# per
# grade