In [ ]:
# For Loop
range(5) (0,1,2,3,4) #for(i = 0; i<5; i++)
range(1,5) (1,2,3,4) #for (i = 1; i<5; i++)
range(0,5,2) (0,2,4) #for (i = 1, i<5; i++)

In [1]:
for i in range(5):    #in operator updates value of i,for is a keyword
    print(i)

0
1
2
3
4

In [2]:
for i in range(5):
    print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [3]:
for i in range(1,5):
    print(i,"Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [4]:
for i in range(1,5,1):
    print(i,"Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [5]:
for i in range(1,5,2):
    print(i,"Hello world")

1 Hello world
3 Hello world

In [6]:
for i in range(0,5,2):
    print(i,"Hello world")

0 Hello world
2 Hello world
4 Hello world

In [10]:
for i in range(5,1,-1):         #use of negative
    print(i,"Hello world")

5 Hello world
4 Hello world
3 Hello world
2 Hello world

In [12]:
n = int(input("enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [15]:
s = 0                                  
n = int(input("enter n = "))
for i in range(n):
    x = int(input("enter x = "))
    s = s+x                         #value of s is updated each time in the loop
    print(s)

enter n = 3
enter x = 23
enter x = 34
enter x = 45
102

In [2]:
s = ""                            
n = int(input("enter n = "))
for i in range(n):
    x = input("enter x = ")
    s = s+x                         #value of s is updated each time in the loop
print(s)

enter n = 2
enter x = pony
enter x = cat
ponycat

In [3]:
s = str()                         #two different methods of writing a empty string                       
n = int(input("enter n = "))
for i in range(n):
    x = input("enter x = ")
    s = s+" "+x                       #value of s is updated each time in the loop
    print(s)

enter n = 2
enter x = ash
 ash
enter x = asdf
 ash asdf

In [5]:
s= ""
n = int(input("enter n = "))
for i in range(n):
    name=input("enter name = ")
    phone = int(input("enter phone number = "))
    
    s = s+name+" "+str(phone)+"\n"

    print(s)

enter n = 2
enter name = ajay
enter phone number = 908978978
ajay 908978978

enter name = arun
enter phone number = 787867
ajay 908978978
arun 787867

In [6]:
type(s)

str

In [ ]:
# 5! = 5*4*3*2*1

In [8]:
fac=1
n = int(input("enter n = "))
for i in range(1,n+1):
    fac=fac*i
    print(fac)

enter n = 5
1
2
6
24
120