In [ ]:
#string

In [1]:
a = "Hello World"
b = 'Hello World'
c = '''Hello World'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
# + * 
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [4]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [5]:
a = "10"
print(type(a))
b = int(a)
print(b)
print(type(b))

<class 'str'>
10
<class 'int'>

In [6]:
a = "Hello World"
print(a[0])

H

In [7]:
a = "Hello World"
print(a[0:5])           #string slice:from 0 to 5-1=4

Hello

In [8]:
a = "Hello World"
print(a[:5])           #string slice:from start to 5-1=4

Hello

In [9]:
a = "Hello World"
print(a[0:10:2])         #string slice:from 0 with increament 2 till 10

HloWr

In [11]:
a = "Hello World"
b = a[10:0:-1]
print(b)                   #string slice:from 0 to 5-1=4

dlroW olle

In [12]:
a = "Hello World"
b = a[::-1]
print(b)                   #string slice:from 0 to 5-1=4

dlroW olleH

In [14]:
a = "Hello World"
b = a[10::-1]
b                   #string slice:from 0 to 5-1=4

'dlroW olleH'

In [16]:
#String Formatting
name = "Ram"
age = 34
data = f"Hello my name is {name}, I am {age}."
data

'Hello my name is Ram, I am 34.'

In [18]:
name = input("enter name = ")
age = int(input("Enter age = "))
add = input("enter address = ")
data = f"Hello I am {name} ,  I am from {add} , I am {age}."   # f is formatting and {}includes variables
data

enter name = ash
Enter age = 34
enter address = qq

'Hello I am ash ,  I am from qq , I am 34.'

In [6]:
s = ""
t = 0
n = int(input("Enter n = "))
for i in range(n):
    name  = input("enter name  = ")
    price  = int(input("enter price  = "))
    quantity = int(input("enter quantity = "))
    total = price*quantity
    bill = f"{name} {price} {quantity} {total}\n"
    t = t+total
    s = s+bill

print(s)
print("grand total =",t)

Enter n = 2
enter name  = orange
enter price  = 23
enter quantity = 4
enter name  = ball
enter price  = 67
enter quantity = 3
orange 23 4 92
ball 67 3 201

grand total = 293

In [7]:
s

'orange 23 4 92\nball 67 3 201\n'

In [8]:
s = "Ram Shyam Hari Sita Gita Ramesh"
for i in s:
    print(i,end = "")

Ram Shyam Hari Sita Gita Ramesh

In [9]:
s = "Ram Shyam Hari Sita Gita Ramesh"
"Ram" in s

True

In [15]:
s = "Ram Shyam Hari Sita Gita Ramesh"
search = input("enter s = ")
if search in s:
    print("Yes")
    print(s.count(search))
else:
    print("No")

enter s = Ram
Yes
1

In [20]:
s = "Ram Shyam Hari Sita Gita Ramesh"
print(s.upper())
print(s)

RAM SHYAM HARI SITA GITA RAMESH
Ram Shyam Hari Sita Gita Ramesh

In [19]:
s = "Ram Shyam Hari Sita Gita Ramesh"             #string is immutable,that is it doesn't change(original value)
print(s.lower())
print(s)

Ram Shyam Hari Sita Gita Ramesh

In [22]:
s = "Ram Shyam Hari Sita Gita Ramesh"
s = s.upper()
print(s)

RAM SHYAM HARI SITA GITA RAMESH

In [23]:
s = "Ram Shyam Hari Sita Gita Ramesh"
s = s.lower()
print(s)

ram shyam hari sita gita ramesh

In [24]:
s = "Ram Shyam Hari Sita Gita Ramesh".lower()
search = input("enter s = ").lower()
if search in s:
    print("Yes")
    print(s.count(search))
else:
    print("No")

enter s = RAM
Yes
2

In [28]:
# replace()
s = "Ram Shyam Hari Sita Gita Ramesh"
s = s.replace('Hari','hari')
s

'Ram Shyam hari Sita Gita Ramesh'

In [30]:
s = "Ram Shyam Hari Sita Gita Ramesh"
s = s.replace('Hari','')
s

'Ram Shyam  Sita Gita Ramesh'

In [31]:
s = "Ram Shyam Hari Sita Gita Ramesh"
s.split()                #converted string to list(values seperated by blank is converted to indiviadual)

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Ramesh']

In [32]:
a = "ram shyam hari sita gita ramesh"
a.title()                                  #capitalizes every first letter of every sentence

'Ram Shyam Hari Sita Gita Ramesh'