In [1]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247961 sha256=7ed56d35a63a10d21cfe2dfeaa384bf0173722c9598f69dde521c5b8c2b8035f
  Stored in directory: c:\users\ngiip\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [8]:
import mysql.connector
database = mysql.connector.connect(host ="localhost",user ="root",password ="")
db = database.cursor()
db.execute("CREATE DATABASE pythons")

In [13]:
import mysql.connector
database = mysql.connector.connect(host ="localhost",user ="root",password ="",database = "practice")
db = database.cursor()
db.execute("Select sn,name,class from data")
result = db.fetchall()
for i in result:
    print(i)

(1, 'sam', 0)
(2, 'sam', 0)
(3, 'ram', 0)
(4, 'jam', 12)
(5, 'hari', 13)
(6, 'jeri', 6)

In [15]:
sql = '''INSERT INTO `data` (`sn`, `name`, `class`) VALUES ('8', 'jerry', '11');'''
db.execute(sql)
database.commit()

In [19]:
physics = int(input("enter physics marks = "))
chemistry = int(input("enter chemistry marks = "))
maths = int(input("enter maths marks = "))
english = int(input("enter english marks = "))
nepali = int(input("enter nepali marks = "))
total = physics+chemistry+maths+english+nepali
per = total/5
if per>=80:
    grade = "A"
elif per>=60:
    grade = "B"
elif per>=45:
    grade = "C"
else:
    grade = "F"

sql = f'''INSERT INTO data(sn,name,class) VALUES ({physics},'rar',{chemistry});'''
db.execute(sql)
database.commit()

enter physics marks = 34
enter chemistry marks = 56
enter maths marks = 45
enter english marks = 45
enter nepali marks = 45

In [21]:
sql = '''DELETE FROM data where sn = 34'''
db.execute(sql)
database.commit()

In [22]:
sql = '''UPDATE data SET name = 'ginger' WHERE sn = 8 '''
db.execute(sql)
database.commit()